<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <a href="/tasks">Return to Task List</a>
        </br>

        <h1>Edit Task</h1>
        
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/tasks/<%= task.id %>?_method=PUT" method="POST">
            Task: <input type="text" name="name" value="<%= task.name %>">
            </br></br>
            Added by:
                <% if ( task.User != null ) { %>
                    <%= task.User.username %>
                <% } else { %>
                    User No Longer Enrolled
                <% }%>
            </br></br>
            Assigned To: <input type="string" name="assignedToUser" value="<%=task.assignedToUser%>">
            </br></br>
            <input type="submit" name="" value="Update Task"/>
        </form>

    </body>
</html>