<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <a href="/tasks">Return to Task List</a>
        </br>
        <h1>New Task Page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/tasks" method="POST">
            Task: <input type="text" name="name" />
            </br></br>
            Created By (User Id): <input type="integer" name="createdByUserId" />
            </br></br>
            Assigned To: <input type="string" name="assignedToUser" />
            </br></br>
            <input type="submit" name="" value="Add Task"/>
        </form>
    </body>
</html>