<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Task Page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/tasks" method="POST">
            Name: <input type="text" name="name" /><br/>
            Frequency: <input type="integer" name="frequency" /><br/>
            <input type="submit" name="" value="Add Task"/>
        </form>
    </body>
</html>