<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Show</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1><%= task.name %></h1>
        
        <h3>Frequency: <%= task.frequency %> Days</h3>

        <!-- DELETE FORM -->
        <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE FOREVER"/>
        </form>
        </br>

        <!-- EDIT LINK -->
        <a href="/tasks/<%= task.id; %>/edit">Edit</a>

        <!--<script src="../server.js" async defer></script>-->
    </body>
</html>