<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <a href="/groups">Group List</a>
        </br>
        <h1>New Group Page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/groups" method="POST">
            Name: <input type="text" name="name" />
            </br></br>
            <input type="submit" name="" value="Add New Group"/>
        </form>
    </body>
</html>