<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Task App</h1>
    </br>
    <form action="/auth/login" method="POST">
        Username: <input type="text" name="username" /><br/>
        <br/>
        Password: <input type="text" name="password" /><br/>
        <br/>
        <input type="submit" name="" value="Login"/>
    </form>
    </br>
    <a href="/auth/signup">Sign Up</a> </br>

</body>
</html>