<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="content-wrap">
    <h1>User Signup Page</h1>

    <form action="/auth" method="POST">
        First Name: <input type="text" name="nameFirst" /><br/>
        <br/>
        Last Name: <input type="text" name="nameLast" /><br/>
        <br/>
        Username: <input type="text" name="username" /><br/>
        <br/>
        Password: <input type="text" name="password" /><br/>
        <br/>
        Group Id: <input type="integer" name="groupId" value=1>If unknown, leave as "1"<br/>
        <br/>
        <input type="submit" name="" value="Sign Up"/>
    </form>
</div>
    <%- include('../partials/footer') %>
</body>
</html>